flwr==1.5.0
numpy==1.24.3
# Use a specific URL to get the small CPU-only version of PyTorch
torch==2.0.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cpu